@model sistema_ventas_peliculas_2.Models.Almacen

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Almacen</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Titulo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Titulo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessage("Titulo", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Genero", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Genero", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessage("Genero", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Director", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Director", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessage("Director", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("Descripcion", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessage("Descripcion", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Precio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Precio", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessage("Precio", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Disponibilidad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Disponibilidad", new SelectList(new[]
            {
                new { Value = "Available", Text = "Disponible" },
                new { Value = "Not Available", Text = "No Disponible" }
            }, "Value", "Text"), "Selecciona una opcion", new { @class = "form-control" })
            @Html.ValidationMessage("Disponibilidad", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CantidadDisponible, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CantidadDisponible, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CantidadDisponible, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
